{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body>  
        <!-- Page Header Start -->
        <div class="page-header">
        </div>
        <!-- Page Header End -->      
        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="section-header text-center">
    
                <div class="contact-form">
                        <div id="success"></div>
    
                        <div class="content-section">
                            <h2>Reset Password</h2><hr>
                         <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                         <form method="POST">
                             {% csrf_token %}
                             {{ form|crispy }}
                             <button class="btn btn-outline-info" type="submit">Send email</button>
                         </form>
                       </div>
                    </div>
            </div>
        </div>
        <!-- Contact End -->
        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </body>







{% endblock %}