
  <div class="container mt-5">
    <h1 class="text-center mb-4">Categories</h1>
    <div class="row">
      {% for category in categories %}
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ category.name }}</h5>
              <p class="card-text">Projects: {{ category.project_count }}</p>
              <a href="#" class="btn btn-primary"  style="background-color: #e5c100;" data-toggle="modal" data-target="#projectModal{{ category.id }}">View Projects</a>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="col-md-12">
          <p>No categories found.</p>
        </div>
      {% endfor %}
    </div>
  </div>

{% for category in categories %}
<!-- Modal -->
<div class="modal fade" id="projectModal{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="projectModal{{ category.id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModal{{ category.id }}Label">{{ category.name }} Projects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
         {% for project in category.projects %}
<div class="col-md-6 mb-4">
  <div class="card" style="background-color: gold;">
    <div class="card-body">
      <h5 class="card-title">{{ project.title }}</h5>
      <p class="card-text">{{ project.details }}</p>
      <p class="card-text">Total Target: {{ project.total_target }}</p>
      <p class="card-text">Rate: {{ project.rate }}</p>
    </div>
  </div>
</div>
{% empty %}
<div class="col-md-12">
  <p>No projects found.</p>
</div>
{% endfor %}

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}


