{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Make Report</title>
{% endblock title %}

{% block content %}


<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Sorry no matching projects found</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'home' %}">Home</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->





{% endblock content %}
